@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

h1 {
  /* text-align: center; */
  margin: 40px 0;
}

.accordion {
  width: auto;
  /* margin: 90px auto; */
  color: white;
  background-color: black;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  /* padding: 45px 45px; */
}

/* .accordion .container {
  position: relative;
  margin: 10px 10px;
} */

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.accordion .label::before {
  /* content: "\027A2"; */
  color: white;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  /* position: relative; */
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid white;
}

.accordion .container.active .content {
  height: 150px;
  /* color: red; */
}

.accordion .container.active .label::before {
  content: "\0290B";
  font-size: 90px;
}
@media (max-width: 768px) {
  .accordion .label {
    /* position: relative; */
    padding: 10px 0;
    font-size: 17px;
    color: white;
    cursor: pointer;
    text-align: left;
  }
  .label1 {
    font-size: 14px;
  }
} ;
